::ng-deep {
  section {
    height: 100%;
  }

  .map-container {
    position: relative;
    height: 100%;

    agm-map {
      height: 100%;

      &.not-draggable .gm-style>* {
        cursor: crosshair !important;
      }
    }

    .toggle-select {
      position: absolute;
      top: 5px;
      right: 5px;
      display: flex;

      button {
        padding: 0 10px;
        min-width: 32px;
      }
    }

    ul {
      background-color: white;
      display: flex;
      list-style: none;
      padding: 0 5px;
      margin: 0;
      margin-right: 5px;
      border-radius: 4px;

      li {
        margin: auto 0;
        display: inline-block;
        padding: 5px;
      }
    }
  }
}