footer {
  padding: 26px 26px;
  padding-bottom: 11px;
  background-color: #3f51b5;
  color: white;

  h3 {
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: 0.8em;
    }
  }

  p {
    max-width: 440px;
  }

  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    li {
      span.material-icons {
        float: left;
        margin-right: 8px;
      }
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #ff4081;
      }
    }

    span {
      line-height: 24px;
    }
  }
  .social-info {
    list-style: none;
    padding: 0;
    padding-top: 8px;
    li {
      display: inline-block;
    }
    a {
      svg {
        fill: #ffffff;
      }
      &:hover {
        svg {
          fill: #ff4081;
        }
      }
    }
    svg {
      float: left;
      margin-right: 8px;
      font-size: 24px;
    }
  }
}
