<mat-sidenav-container hasBackdrop="false" class="example-container">
  <mat-sidenav #drawerLeft [opened]="openedLeftDrawer" class="drawer-left" mode="over">
    <div class="container title" fxLayoutGap="16px" fxLayout="row wrap">
      <h2>Paddock Data</h2>
      <div class="spacer"></div>
      <button type="button" mat-button (click)="drawerLeft.toggle()">
        <mat-icon aria-hidden="false">close</mat-icon>
      </button>
    </div>
    <app-paddocks [paddocks]="paddocks" [paddocksHasChanged]="paddocksHasChanged" [unitTreeCost]="unitTreeCost"
      [unitGrassCost]="unitGrassCost" [unitFencingCost]="unitFencingCost" [unitTreeFencingCost]="unitTreeFencingCost"
      [unitTreeCostOn]="unitTreeCostOn" [unitGrassCostOn]="unitGrassCostOn" [unitFencingCostOn]="unitFencingCostOn"
      [unitTreeFencingCostOn]="unitTreeFencingCostOn">
    </app-paddocks>
  </mat-sidenav>
  <mat-sidenav #drawerRight [opened]="openedRightDrawer" class="drawer-right" mode="over" position="end">
    <div class="container title" fxLayoutGap="16px" fxLayout="row wrap">
      <h2>Layer Controls</h2>
      <div class="spacer"></div>
      <button type="button" mat-button (click)="drawerRight.toggle()">
        <mat-icon aria-hidden="false">close</mat-icon>
      </button>
    </div>

    <p>
      <mat-slide-toggle [(ngModel)]="aerial.on" (change)="onChangeAerialOn()">Aerial Imagery</mat-slide-toggle>
    </p>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="cadastre.on" (change)="onChangeCadastreOn()">
          <span>Cadastre</span>
        </mat-slide-toggle>
        <div #colorSelectCadastreElement class="color-select" *ngIf="cadastre.on">
          <button [ngStyle]="{ background: cadastre.color?.hex }"
            (click)="colorSelectCadastreOn = !colorSelectCadastreOn"></button>
          <color-block triangle="hide" *ngIf="colorSelectCadastreOn" [color]="cadastre.color?.hex" [colors]="colors"
            (onChangeComplete)="onChangeColorCadastre($event)"></color-block>
        </div>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="trenchesEven.on" (change)="onChangeTrenchesEvenOn()">Trenches Evenly Spaced
        </mat-slide-toggle>
        <div #colorSelectTrenchesEvenElement class="color-select" *ngIf="trenchesEven.on">
          <button *ngIf="trenchesEven.on" [ngStyle]="{ background: trenchesEven.color?.hex }"
            (click)="colorSelectTrenchesEvenOn = !colorSelectTrenchesEvenOn"></button>
          <color-block triangle="hide" *ngIf="colorSelectTrenchesEvenOn" [color]="trenchesEven.color?.hex"
            [colors]="colors" (onChangeComplete)="onChangeColorTrenchesEven($event)"></color-block>
        </div>
      </div>
      <div class="slider">
        <mat-slider *ngIf="trenchesEven.on" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="20"
          [value]="trenchesEven.value" (change)="onChangeTrenchesEvenVal($event.value)"></mat-slider>
        <div *ngIf="trenchesEven.on" class="slider-value">
          <span *ngIf="!trenchesEven.loading">{{ trenchesEven.value }}</span>
          <mat-spinner diameter="20" *ngIf="trenchesEven.loading"></mat-spinner>
        </div>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="trenchesStep.on" (change)="onChangeTrenchesStepOn()">Trenches Stepped
        </mat-slide-toggle>
        <div #colorSelectTrenchesStepElement class="color-select" *ngIf="trenchesStep.on">
          <button *ngIf="trenchesStep.on" [ngStyle]="{ background: trenchesStep.color?.hex }"
            (click)="colorSelectTrenchesStepOn = !colorSelectTrenchesStepOn"></button>
          <color-block triangle="hide" *ngIf="colorSelectTrenchesStepOn" [color]="trenchesStep.color?.hex"
            [colors]="colors" (onChangeComplete)="onChangeColorTrenchesStep($event)"></color-block>
        </div>
      </div>
      <div class="slider">
        <mat-slider *ngIf="trenchesStep.on" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="20"
          [value]="trenchesStep.value" (change)="onChangeTrenchesStepVal($event.value)"></mat-slider>
        <div *ngIf="trenchesStep.on" class="slider-value">
          <span *ngIf="!trenchesStep.loading">{{ trenchesStep.value }}</span>
          <mat-spinner diameter="20" *ngIf="trenchesStep.loading"></mat-spinner>
        </div>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="gullies.on" (change)="onChangeGulliesOn()">Gullies</mat-slide-toggle>
        <div #colorSelectGulliesElement class="color-select" *ngIf="gullies.on">
          <button *ngIf="gullies.on" [ngStyle]="{ background: gullies.color?.hex }"
            (click)="colorSelectGulliesOn = !colorSelectGulliesOn"></button>
          <color-block triangle="hide" *ngIf="colorSelectGulliesOn" [color]="gullies.color?.hex" [colors]="colors"
            (onChangeComplete)="onChangeColorGullies($event)"></color-block>
        </div>
      </div>
      <div class="slider">
        <mat-slider *ngIf="gullies.on" thumbLabel [displayWith]="formatLabel" tickInterval="5" step="0.1" min="98"
          max="100" [value]="gullies.value" (change)="onChangeGulliesVal($event.value)"></mat-slider>
        <div *ngIf="gullies.on" class="slider-value">
          <span *ngIf="!gullies.loading">{{ gullies.value }}</span>
          <mat-spinner diameter="20" *ngIf="gullies.loading"></mat-spinner>
        </div>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="ridges.on" (change)="onChangeRidgesOn()">Ridges</mat-slide-toggle>
        <div #colorSelectRidgesElement class="color-select" *ngIf="ridges.on">
          <button *ngIf="ridges.on" [ngStyle]="{ background: ridges.color?.hex }"
            (click)="colorSelectRidgesOn = !colorSelectRidgesOn"></button>
          <color-block triangle="hide" *ngIf="colorSelectRidgesOn" [color]="ridges.color?.hex" [colors]="colors"
            (onChangeComplete)="onChangeColorRidges($event)"></color-block>
        </div>
      </div>
      <div class="slider">
        <mat-slider *ngIf="ridges.on" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="0.1" min="90"
          max="100" [value]="ridges.value" (change)="onChangeRidgesVal($event.value)"></mat-slider>
        <div *ngIf="ridges.on" class="slider-value">
          <span *ngIf="!ridges.loading">{{ ridges.value }}</span>
          <mat-spinner diameter="20" *ngIf="ridges.loading"></mat-spinner>
        </div>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="paddocks.on" (change)="onChangePaddocksOn()">Paddocks</mat-slide-toggle>
      </div>
    </div>

    <div class="toggle-group" *ngIf="paddocks.on">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="unitGrassCostOn" (change)="onChangedUnitGrassCostOn()">Unit Grass Cost ($/ha)
        </mat-slide-toggle>
      </div>
      <div class="slider">
        <mat-slider *ngIf="unitGrassCostOn" thumbLabel [displayWith]="formatLabel" tickInterval="10" step="1" min="3"
          max="30" [value]="unitGrassCost" (change)="onChangedUnitGrassCostVal($event.value)">
        </mat-slider>
        <div *ngIf="unitGrassCostOn" class="slider-value">
          {{ unitGrassCost }}
        </div>
      </div>
    </div>

    <div class="toggle-group" *ngIf="paddocks.on">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="unitTreeCostOn" (change)="onChangedUnitTreeCostOn()">Unit Tree Cost ($/ha)
        </mat-slide-toggle>
      </div>
      <div class="slider">
        <mat-slider *ngIf="unitTreeCostOn" thumbLabel [displayWith]="formatLabel" tickInterval="100" step="10" min="30"
          max="300" [value]="unitTreeCost" (change)="onChangedUnitTreeCostVal($event.value)">
        </mat-slider>
        <div *ngIf="unitTreeCostOn" class="slider-value">
          {{ unitTreeCost }}
        </div>
      </div>
    </div>

    <div class="toggle-group" *ngIf="paddocks.on">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="unitFencingCostOn" (change)="onChangedUnitFencingCostOn()">Unit Fencing Cost
          ($/m)
        </mat-slide-toggle>
      </div>
      <div class="slider">
        <mat-slider *ngIf="unitFencingCostOn" thumbLabel [displayWith]="formatLabel" tickInterval="100" step="10"
          min="30" max="300" [value]="unitFencingCost" (change)="onChangedUnitFencingCostVal($event.value)">
        </mat-slider>
        <div *ngIf="unitFencingCostOn" class="slider-value">
          {{ unitFencingCost }}
        </div>
      </div>
    </div>

    <div class="toggle-group" *ngIf="paddocks.on">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="unitTreeFencingCostOn" (change)="onChangedUnitTreeFencingCostOn()">Unit Tree
          Fencing Cost ($/m)
        </mat-slide-toggle>
      </div>
      <div class="slider">
        <mat-slider *ngIf="unitTreeFencingCostOn" thumbLabel [displayWith]="formatLabel" tickInterval="100" step="10"
          min="10" max="200" [value]="unitTreeFencingCost" (change)="onChangedUnitTreeFencingCostVal($event.value)">
        </mat-slider>
        <div *ngIf="unitTreeFencingCostOn" class="slider-value">
          {{ unitTreeFencingCost }}
        </div>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="soil.on" (change)="onChangeSoilOn()">Soil</mat-slide-toggle>
      </div>
    </div>

    <div class="toggle-group">
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="paramTerrainExaggerationOn" (change)="onChangedTerrainExaggerationOn()">Terrain
          Exaggeration</mat-slide-toggle>
      </div>
      <div class="slider">
        <mat-slider *ngIf="paramTerrainExaggerationOn" thumbLabel [displayWith]="formatLabel" tickInterval="1"
          step="0.1" min="0.3" max="3" [value]="paramTerrainExaggerationVal"
          (change)="onChangedTerrainExaggerationVal($event.value)">
        </mat-slider>
        <div *ngIf="paramTerrainExaggerationOn" class="slider-value">
          <span *ngIf="!loadingTerrainExaggeration">{{
            paramTerrainExaggerationVal
            }}</span>
          <mat-spinner diameter="20" *ngIf="loadingTerrainExaggeration"></mat-spinner>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <div class="three-container">
    <app-three class="three" [layerDem]="dem.data" [layerPaddocks]="paddocks" [layerSoil]="soil"
      [terrainExaggerationOn]="paramTerrainExaggerationOn" [terrainExaggeration]="paramTerrainExaggerationVal"
      [unitGrassCostOn]="unitGrassCostOn" [unitGrassCost]="unitGrassCost" [unitTreeCostOn]="unitTreeCostOn"
      [unitTreeCost]="unitTreeCost" (setGrassCost)="setGrassCost($event)" (setTreeCost)="setTreeCost($event)"
      (setPaddock)="setPaddock($event)" (setPaddockID)="setPaddockID($event)" (setPaddockArea)="setPaddockArea($event)"
      (setPaddockPerimeter)="setPaddockPerimeter($event)" (setPaddockNull)="setPaddockNull()"
      (setSoil)="setSoil($event)" (setSoilNull)="setSoilNull()" (setSoilPerSilt)="setSoilPerSilt($event)"
      (setSoilPerSand)="setSoilPerSand($event)" (setSoilPerClay)="setSoilPerClay($event)"></app-three>

    <button type="button" mat-button mat-raised-button color="primary" class="toggle-drawer-left"
      (click)="onClickPaddocksOn(); drawerLeft.toggle()">
      Paddock Data
    </button>

    <button type="button" mat-button mat-raised-button color="primary" class="toggle-drawer-right"
      (click)="drawerRight.toggle()">
      Layer Controls
    </button>

    <div class="property-data">
      <ul *ngIf="fencingCost || treefencingCost">
        <li *ngIf="fencingCost && unitFencingCostOn">
          <b>Fencing:</b> ${{ fencingCost }}
        </li>
        <li *ngIf="treefencingCost && unitTreeFencingCostOn">
          <b>Tree Fencing:</b> ${{ treefencingCost }}
        </li>
      </ul>
      <ul *ngIf="grassCost || treeCost">
        <li *ngIf="grassCost && unitGrassCostOn">
          <b>Grass:</b> ${{ grassCost }}
        </li>
        <li *ngIf="treeCost && unitTreeCostOn"><b>Tree:</b> ${{ treeCost }}</li>
      </ul>
      <ul *ngIf="paddockArea || paddockPerimeter || paddockID">
        <li *ngIf="paddockID"><b>Paddock:</b> {{ paddockID }}</li>
        <li *ngIf="paddockArea"><b>Area:</b> {{ paddockArea }}</li>
        <li *ngIf="paddockPerimeter">
          <b>Perimeter:</b> {{ paddockPerimeter }}
        </li>
      </ul>
      <ul *ngIf="soilPerSand || soilPerSilt || soilPerClay">
        <li *ngIf="soilPerSand"><svg width="10" height="10">
            <rect width="10" height="10" style="fill:rgb(255,0,0);" />
          </svg><b>perSand:</b> {{ +soilPerSand / 10 }}</li>
        <li *ngIf="soilPerSilt"><svg width="10" height="10">
            <rect width="10" height="10" style="fill:rgb(0,255,0);" />
          </svg><b>perSilt:</b> {{ +soilPerSilt / 10 }}</li>
        <li *ngIf="soilPerClay"><svg width="10" height="10">
            <rect width="10" height="10" style="fill:rgb(0,0,255);" />
          </svg><b>perClay:</b> {{ +soilPerClay / 10 }}</li>
      </ul>

      <!-- <ul *ngIf="gullies.on || ridges.on">
        <li *ngIf="gullies.on"><b>Gullies:</b> 2km</li>
        <li *ngIf="ridges.on"><b>Ridges:</b> 1.3km</li>
      </ul> -->
    </div>
  </div>
</mat-sidenav-container>