::ng-deep {
  .mat-sidenav-container {
    height: 100%;
    position: relative;

    .three-container {
      // background-color: #d6efff;
      height: 100%;
      display: flex;

      .three * {
        // margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .mat-button {
        &.toggle-drawer-left {
          position: absolute;
          top: 5px;
          left: 5px;
        }

        &.toggle-drawer-right {
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }

      .property-data {
        position: absolute;
        bottom: 5px;
        left: 5px;

        ul {
          background-color: white;
          display: flex;
          list-style: none;
          padding: 0 5px;
          margin: 0;
          margin-right: 5px;
          border-radius: 4px;

          li {
            margin: auto 0;
            display: inline-block;
            padding: 5px;
          }
        }
      }
    }
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }

  .mat-drawer {
    background-color: #fafafa;
    padding: 20px 15px;
    overflow-y: unset;

    .title {
      margin-bottom: 10px;

      h2 {
        margin: auto 0;
      }

      .mat-button {
        min-width: initial;
      }
    }
  }

  .toggle-group {
    margin: 10px 0;

    .toggle {
      display: flex;
      position: relative;

      mat-slide-toggle {
        margin: auto 0;
        padding-right: 10px;
      }

      .color-select {
        margin: auto 0;
        margin-left: auto;

        button {
          width: 20px;
          height: 20px;
          border: none;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }

    .slider {
      .mat-slider {
        margin-left: 20px;
        width: calc(100% - 60px);
        display: inline-block;
      }

      .slider-value {
        margin: auto 4px;
        display: inline-block;
      }
    }

    color-block,
    color-sketch {
      position: absolute;
      margin-top: 5px;
      top: 100%;
      left: 25%;
      z-index: 99;

      >* {
        box-shadow: none !important;
        background: #ffffff !important;
        border: solid 2px #e3e3e3;
      }
    }
  }
}