<div>
    <h1> {{title}} </h1>
    <div #containerLineChart></div>
    <button type="button" mat-button mat-raised-button color="primary" style="margin-bottom: 20px;"
        (click)="toggle()">
        {{ enlarge }}
    </button>
</div>





























