<div *ngIf="dem && dem.loading; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #elseBlock>
  <section>
    <app-map (submitCoords)="onStart($event)"></app-map>

    <mat-sidenav
      #drawerLeft
      [opened]="openedLeftDrawer"
      class="drawer-left"
      mode="over"
    >
      <div class="container title" fxLayoutGap="16px" fxLayout="row wrap">
        <h2>Instructions</h2>
        <div class="spacer"></div>
        <button type="button" mat-button (click)="drawerLeft.toggle()">
          <mat-icon aria-hidden="false">close</mat-icon>
        </button>
      </div>
      <p>
        Use the map to select a search area or enter coodinate directly in the
        search box below.
      </p>

      <form [formGroup]="initFormGroup" (ngSubmit)="onStart()">
        <mat-form-field appearance="fill">
          <mat-label>Coordinates</mat-label>
          <input matInput formControlName="paramCoords" />
        </mat-form-field>
        <button mat-raised-button type="submit">
          <span class="material-icons"> search </span>
        </button>
      </form>
      <div class="examples">
        <p>
          <b>ANU Spring Valley Farm:</b><br />
          <button
            mat-button
            color="primary"
            (click)="onClickExample('-35.28878, 149.01080')"
          >
            -35.28878, 149.01080
          </button>
        </p>
        <p>
          <b>Black Mountain:</b><br />
          <button
            mat-button
            color="primary"
            (click)="onClickExample('-35.275508, 149.094474')"
          >
            -35.275508, 149.094474
          </button>
        </p>
        <p>
          <b>Rob Roy Nature Reserve:</b><br />
          <button
            mat-button
            color="primary"
            (click)="onClickExample('-35.489032, 149.122152')"
          >
            -35.489032, 149.122152
          </button>
        </p>
      </div>
    </mat-sidenav>
    <button
      type="button"
      mat-button
      mat-raised-button
      color="primary"
      class="toggle-drawer-left"
      (click)="drawerLeft.toggle()"
    >
      Instructions
    </button>
  </section>
</ng-template>
