main {
  position: relative;
  height: calc(100vh - 251px);
}

.bg-light {
  background-color: #efefef;
}

form {
  .mat-raised-button {
    margin-bottom: 1.34375em;
  }
}

.between-sections {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -0%);
  color: #ff4081;
  background-color: white;
  border: 2px solid #ff4081;
  padding: 10px;
}

.mat-tab-body-wrapper {
  height: 100%;
}