<main>
  <mat-tab-group #tabs mat-align-tabs="start" animationDuration="500ms" style="height: 100%">
    <mat-tab label="Search" fxFlex="1">
      <app-search class="app-search"></app-search>
    </mat-tab>
    <mat-tab label="Result" fxFlex="1" [disabled]="dem?.loading !== false">
      <app-result class="app-result" #resultComponent></app-result>
    </mat-tab>
    <mat-tab label="Analysis" fxFlex="1" [disabled]="dem?.loading !== false">
      <app-analysis class="app-analysis" #analysisComponent></app-analysis>
    </mat-tab>
    <mat-tab label="Research" fxFlex="1" [disabled]="dem?.loading !== false">
      <app-research class="app-research" #researchComponent></app-research>
    </mat-tab>
  </mat-tab-group>
</main>