<body>
    <h1>Soil Texture [ perSand ({{perSand}}), perSilt ({{perSilt}}), perClay ({{perClay}}) ]</h1>
    <div #containerPalette></div>
    <button type="button" mat-button mat-raised-button color="primary" style="margin-bottom: 20px;" (click)="toggle()">
        {{ enlarge }}
    </button>
</body>
