<section>
    <mat-sidenav #drawerLeft [opened]="openedLeftDrawer" class="drawer-left" mode="over">
        <div class="container title" fxLayoutGap="16px" fxLayout="row wrap">
            <h2>Models</h2>
            <div class="spacer"></div>
            <button type="button" mat-button (click)="drawerLeft.toggle()">
        <mat-icon aria-hidden="false">close</mat-icon>
    </button>
        </div>
        <p>
            Use the graph to visualise land condition changes over three years.
        </p>

        <!-- <form [formGroup]="initFormGroup" (ngSubmit)="onStart()">
    <mat-form-field appearance="fill">
        <mat-label>Coordinates</mat-label>
        <input matInput formControlName="paramCoords" />
    </mat-form-field>
    <button mat-raised-button type="submit">
        <span class="material-icons"> search </span>
    </button>
</form> -->
        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="soilTextureOn" (change)="onChangeSoilTextureOn()">
                    <span>Soil Texture</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="carbonLossOn" (change)="onChangeCarbonLossOn()">
                    <span>CarbonLoss</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="carbonStoredOn" (change)="onChangeCarbonStoredOn()">
                    <span>CarbonStored</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="decomposingMicrobesOn" (change)="onChangeDecomposingMicrobesOn()">
                    <span>DecomposingMicrobes</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="labileDetritusOn" (change)="onChangeLabileDetritusOn()">
                    <span>LabileDetritus</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="mineralOn" (change)="onChangeMineralOn()">
                    <span>Mineral</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="soilLossOn" (change)="onChangeSoilLossOn()">
                    <span>SoilLoss</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="soilMassOn" (change)="onChangedSoilMassOn()">
                    <span>SoilMass</span>
                </mat-slide-toggle>
            </div>
        </div>

        <div class="toggle-group">
            <div class="toggle">
                <mat-slide-toggle [(ngModel)]="stableDetritusOn" (change)="onChangeStableDetritusOn()">
                    <span>StableDetritus</span>
                </mat-slide-toggle>
            </div>
        </div>
    </mat-sidenav>

    <button type="button" mat-button mat-raised-button color="primary" class="toggle-drawer-left" (click)="drawerLeft.toggle()">
    Instructions
</button>
    <div style="margin-left: 18%">
        <!-- <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="dataLabel">Label: </label>
                <input class="form-control" type="text" name="dataLabel" [(ngModel)]="newLabel" />
            </div>
            <div class="form-group">
                <label for="dataValue">Value: </label>
                <input class="form-control" type="number" name="dataValue" [(ngModel)]="newValue" />
            </div>
            <button (click)="addData()" class="btn btn-primary">add data</button>
        </div>
    </div> -->
        <div class="row">
            <div class="col-md-5" *ngIf="soilTextureOn">
                <app-palette [textureData]="textureData"></app-palette>
            </div>
            <div class="col-md-5" *ngIf="carbonLossOn">
                <app-linechart [data]="carbonLoss" [title]="'CarbonLoss'" [xlabel]="'(Days)'" [ylabel]="'kg/m^2'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="carbonStoredOn">
                <app-linechart [data]="carbonStored" [title]="'CarbonStored'" [xlabel]="'(Days)'" [ylabel]="'kg/m^2'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="decomposingMicrobesOn">
                <app-linechart [data]="decomposingMicrobes" [title]="'DecomposingMicrobes'" [xlabel]="'(Days)'" [ylabel]="'kg/m^2'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="labileDetritusOn">
                <app-linechart [data]="labileDetritus" [title]="'LabileDetritus'" [xlabel]="'(Days)'" [ylabel]="'kg/m^2'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="mineralOn">
                <app-linechart [data]="mineral" [title]="'Mineral'" [xlabel]="'(Days)'" [ylabel]="'kg/m^2'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="soilLossOn">
                <app-linechart [data]="soilLoss" [title]="'SoilLoss'" [xlabel]="'(Days)'" [ylabel]="'g/m^3'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="soilMassOn">
                <app-linechart [data]="soilMass" [title]="'SoilMass'" [xlabel]="'(Days)'" [ylabel]="'g/m^3'"></app-linechart>
            </div>

            <div class="col-md-5" *ngIf="stableDetritusOn">
                <app-linechart [data]="stableDetritus" [title]="'StableDetritus'" [xlabel]="'(Days)'" [ylabel]="'kg/m^2'"></app-linechart>
            </div>

            <!-- <div class="col-md-7">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Label</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of data">
                        <td *ngIf="d.label % 50 === 0" [innerHTML]="d.label"></td>
                        <td *ngIf="d.label % 50 === 0" [innerHTML]="d.value"></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        </div>

    </div>

</section>
