<div style="width:960px;margin: 0 auto;">
    <app-scrollspy-nav-layout [headings]="headings">
        <h2 id="dem"> DEM Data Compression </h2>
        <h4><a href="https://docs.google.com/document/d/1EnXr0cM2XoinIDNhBjg3FCiMJpR9jXRd8WupT0sYxmk/edit">Report
                Link</a></h4>

        <h2 id="texture"> Soil Texture Data Source </h2>
        <h4><a href="https://www.isric.org/explore/soilgrids/soilgrids-access">
                https://www.isric.org/explore/soilgrids/soilgrids-access </a></h4>

        <h2 id="predictive"> Predictive ML Model for Fast Simulation (Author: Wenjin Yu) </h2>
        <markdown [src]="'assets/report/report.md'" (load)="onLoad($event)" (error)="onError($event)"></markdown>




    </app-scrollspy-nav-layout>
</div>