// $viewport-max-width: 960px;
// $viewport-offset-x: 16px;

// // mixins

// @mixin viewport-width($padding: true) {
//     margin: 0 auto;
//     max-width: $viewport-max-width;

//     @if ($padding) {
//         padding-left: $viewport-offset-x;
//         padding-right: $viewport-offset-x;
//     }
// }



// ::ng-deep {
//     .app-research {
//         // variables



//         .mat-spinner {
//             margin: 60px auto;
//         }

//         .drawer-left {
//             max-width: 15%;
//         }

//         form {
//             display: flex;

//             width: 100%;

//             .mat-form-field {
//                 width: calc(100% - 64px);
//             }

//             button {
//                 margin-bottom: 1.34375em;
//             }
//         }

//         .mat-button {
//             &.toggle-drawer-left {
//                 position: absolute;
//                 top: 10px;
//                 left: 10px;
//             }

//             &.toggle-drawer-right {
//                 position: absolute;
//                 top: 5px;
//                 right: 5px;
//             }
//         }

//         .toggle-group {
//             margin: 10px 0;

//             .toggle {
//                 display: flex;
//                 position: relative;

//                 mat-slide-toggle {
//                     margin: auto 0;
//                     padding-right: 10px;
//                 }

//                 .color-select {
//                     margin: auto 0;
//                     margin-left: auto;

//                     button {
//                         width: 20px;
//                         height: 20px;
//                         border: none;
//                         border-radius: 10px;
//                         cursor: pointer;
//                     }
//                 }
//             }

//             .slider {
//                 .mat-slider {
//                     margin-left: 20px;
//                     width: calc(100% - 60px);
//                     display: inline-block;
//                 }

//                 .slider-value {
//                     margin: auto 4px;
//                     display: inline-block;
//                 }
//             }
//         }
//     }
// }