.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.mat-toolbar {
  overflow: hidden;

  .brand {
    display: flex !important;

    .logo {
      width: 64px;
      height: 64px;
      margin-top: 12px;
      margin-left: -6px;
      margin-right: 6px;
    }

    .title {
      font-size: 0.8em;
      margin: auto;
    }
  }
}