.appdiv {
    width: 70vw;
	height: 46.7vw;
    float:left;
}
.controldiv {
	padding-left: 2em;
	height: 46.7vw;
    overflow: hidden;
}

/* The switch - the box around the slider */
.switch {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
  }
  
    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
  
  /* The toggle */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 23px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* The title */
.switchTitle {
    /*position: relative;*/
    /*bottom: 5px*/
}

/*the slider*/
.my_slider {
    position: relative;
    left: 10px
    /*bottom: 4px*/
}

.sliderValue {
    position: relative;
    left: 10px
    /*bottom: 4px*/
}

