<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Civilise AI - About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../static/main.css?4000" rel="stylesheet" type="text/css">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>About civilise.ai</h1>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="app">Get Started</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>About civilise.ai</h2>
						<p>Regenerative Agricultrue Made Simple</p>
					</header>

					<a href="#" class="image fit"><img src="{{ url_for('static', filename='images/landscape.jpg') }}" alt="A field in NSW, winter" /></a>
					<p>Unsustainable farming practices are degrading the land at an exponential rate. Changes to the land (e.g. planting trees or building roads and paddocks) can have positive or negative impacts on the land fertility. Currently farmers have a limited understanding of the consequences from modifying their land as it is a complex problem.</p>
					<p>Our project aims to use Geospatial data and AI to provide a tool that makes sustainable and regenerative farming easier in Australia.</p>
					<p>The project would help analyse and visualise the vast terrain, helping not only in identifying suitable areas for vegetation. But also simulate how grading (Making changes to that terrain) affects the surface water-flow, rate of soil erosion etc. Thus helping researchers evaluate and optimize strategies for land regeneration.</p>
					<p>Farmers would also gain great insight inturn helping them increase their crop yields, active irrigation, etc.</p><br>
					<p>Civilise.ai has been tasked with building a system to aid land owners in practicing regenerative farming.  Our customer has specified a number of desired features, but the below user story specifies what is most valuable.  Given this the techlauncher team will be working to satisfy this user story.</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>Civilise.ai Techlauncher 2020</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>