<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="1 1 calc(100% - 220px)">
    <ng-content></ng-content>
    <button class="scrollup-button--fixed" mat-fab color="accent" fxHide.gt-sm (click)="onScrollUp()"
      *ngIf="showScrollUpButton" [@zoomAnimation]>
      <img src="assets/icon-chevron-up.svg">
    </button>
  </div>
  <div class="sticky" fxLayout="column" fxFlex="1 0 180px" fxFlexAlign="flex-start" fxHide.lt-md>
    <app-scrollspy-nav [headings]="headings"></app-scrollspy-nav>
    <button class="scrollup-button" mat-mini-fab color="accent" (click)="onScrollUp()" *ngIf="showScrollUpButton"
      [@zoomAnimation]>
      <img src="assets/icon-chevron-up.svg">
    </button>
  </div>
</div>