.form-field-group {
  display: flex;
  flex-wrap: wrap;

  .mat-slide-toggle {
    width: 100%;
  }

  .mat-slider {
    margin-left: 20px;
    width: calc(100% - 60px);
  }

  .slider-value {
    width: 40px;
    margin: auto;
  }
}

canvas {
  width: 100% !important;
  height: 100% !important;
}